<a href="https://colab.research.google.com/github/abhilashhn1993/movie-recommendation-engine/blob/main/K_means_Clustering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
import json
import gzip
import pandas as pd

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.neighbors import NearestNeighbors
from sklearn.cluster import KMeans
from sklearn.metrics import adjusted_rand_score

In [ ]:
import pickle
# Mounting Google drive to this file
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Install JDK
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [ ]:
!wget -q https://downloads.apache.org/spark/spark-3.0.1/spark-3.0.1-bin-hadoop2.7.tgz

In [ ]:
!tar -xvf spark-3.0.1-bin-hadoop2.7.tgz

In [ ]:
!pip install -q findspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.1-bin-hadoop2.7"

In [ ]:
# Create local Spark session
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [ ]:
import matplotlib.pyplot as plt

# %matplotlib inline
plt.style.use("ggplot")

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/movies_metadata.csv')
# # total length of list, this number equals total number of products
print(len(data))

# # first row of the list
data['overview'].head(200)

45466

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

0      Led by Woody, Andy's toys live happily in his ...
1      When siblings Judy and Peter discover an encha...
2      A family wedding reignites the ancient feud be...
3      Cheated on, mistreated and stepped on, the wom...
4      Just when George Banks has recovered from his ...
                             ...
195    Set in the year 1999 during the last days of t...
196    This simple romantic tragedy begins in 1957. G...
197    John Netherwood and his wife Leann are fugitiv...
198    While Jane Holman (Mastrantonio) is driving wi...
199    Young, wild poet Arthur Rimbaud and his mentor...
Name: overview, Length: 200, dtype: object

In [ ]:
data.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [ ]:
newdata = data.dropna(axis=0, subset=['overview'])
newdata=newdata[['original_title','overview']]
newdata

                    original_title                                           overview
0                        Toy Story  Led by Woody, Andy's toys live happily in his ...
1                          Jumanji  When siblings Judy and Peter discover an encha...
2                 Grumpier Old Men  A family wedding reignites the ancient feud be...
3                Waiting to Exhale  Cheated on, mistreated and stepped on, the wom...
4      Father of the Bride Part II  Just when George Banks has recovered from his ...
...                            ...                                                ...
45461                      رگ خواب        Rising and falling between a man and woman.
45462          Siglo ng Pagluluwal  An artist struggles to finish his work while a...
45463                     Betrayal  When one of her hits goes wrong, a professiona...
45464          Satana likuyushchiy  In a small town live two brothers, one a minis...
45465                     Queerama  50 years after decriminalisation of homosexual...

[44512 rows x 2 columns]

In [ ]:
vectorizer = TfidfVectorizer(stop_words='english')
vec = vectorizer.fit_transform(newdata['overview'])
vec

<44512x75827 sparse matrix of type '<class 'numpy.float64'>'
	with 1210882 stored elements in Compressed Sparse Row format>

In [ ]:
from pyspark import SparkContext
from pyspark import SparkConf
from pyspark.sql import SparkSession, SQLContext
from pyspark.sql.functions import *
from pyspark.ml.clustering import KMeans
from pyspark.ml.evaluation import ClusteringEvaluator
from pyspark.ml import Pipeline

from pyspark import SparkConf, SparkContext
from pyspark.mllib.feature import HashingTF
from pyspark.mllib.feature import IDF

!pip install -q findspark

import findspark
findspark.init()

In [ ]:
spark = SparkSession.builder.appName("Python Spark SQL basic example").config("spark.some.config.option", "some-value").getOrCreate()

sdf = spark.createDataFrame(newdata.astype(str))
sdf.show()
sdf.cache()

+--------------------+--------------------+
|      original_title|            overview|
+--------------------+--------------------+
|           Toy Story|Led by Woody, And...|
|             Jumanji|When siblings Jud...|
|    Grumpier Old Men|A family wedding ...|
|   Waiting to Exhale|Cheated on, mistr...|
|Father of the Bri...|Just when George ...|
|                Heat|Obsessive master ...|
|             Sabrina|An ugly duckling ...|
|        Tom and Huck|A mischievous you...|
|        Sudden Death|International act...|
|           GoldenEye|James Bond must u...|
|The American Pres...|Widowed U.S. pres...|
|Dracula: Dead and...|When a lawyer sho...|
|               Balto|An outcast half-w...|
|               Nixon|An all-star cast ...|
|    Cutthroat Island|Morgan Adams and ...|
|              Casino|The life of the g...|
|Sense and Sensibi...|Rich Mr. Dashwood...|
|          Four Rooms|It's Ted the Bell...|
|Ace Ventura: When...|Summoned from an ...|
|         Money Train|A vengeful New Yo...|
+--------------------+--------------------+
only showing top 20 rows

DataFrame[original_title: string, overview: string]

In [ ]:
from pyspark.ml.feature import HashingTF, IDF, Tokenizer, CountVectorizer, StopWordsRemover
from pyspark.ml.evaluation import ClusteringEvaluator
from pandas.core.reshape.concat import concat

tokenizer = Tokenizer(inputCol="overview", outputCol="tokens")
remover = StopWordsRemover(inputCol="tokens", outputCol="stopWordsRemovedTokens")
hashingTF = HashingTF(inputCol="stopWordsRemovedTokens", outputCol="rawFeatures", numFeatures=2000)
idf = IDF(inputCol="rawFeatures", outputCol="features", minDocFreq=5)

In [ ]:
kmeans = KMeans(k=12)
pipeline = Pipeline(stages=[tokenizer, remover, hashingTF, idf, kmeans])

In [ ]:
model = pipeline.fit(sdf)

In [ ]:
results = model.transform(sdf)

In [ ]:
results.show()

+--------------------+--------------------+--------------------+----------------------+--------------------+--------------------+----------+
|      original_title|            overview|              tokens|stopWordsRemovedTokens|         rawFeatures|            features|prediction|
+--------------------+--------------------+--------------------+----------------------+--------------------+--------------------+----------+
|           Toy Story|Led by Woody, And...|[led, by, woody,,...|  [led, woody,, and...|(2000,[87,189,295...|(2000,[87,189,295...|         0|
|             Jumanji|When siblings Jud...|[when, siblings, ...|  [siblings, judy, ...|(2000,[0,72,170,2...|(2000,[0,72,170,2...|         0|
|    Grumpier Old Men|A family wedding ...|[a, family, weddi...|  [family, wedding,...|(2000,[66,104,129...|(2000,[66,104,129...|         0|
|   Waiting to Exhale|Cheated on, mistr...|[cheated, on,, mi...|  [cheated, on,, mi...|(2000,[86,111,417...|(2000,[86,111,417...|         0|
|Father of the Bri...|Just when George ...|[just, when, geor...|  [george, banks, r...|(2000,[75,123,177...|(2000,[75,123,177...|         0|
|                Heat|Obsessive master ...|[obsessive, maste...|  [obsessive, maste...|(2000,[43,92,155,...|(2000,[43,92,155,...|         0|
|             Sabrina|An ugly duckling ...|[an, ugly, duckli...|  [ugly, duckling, ...|(2000,[108,209,29...|(2000,[108,209,29...|         0|
|        Tom and Huck|A mischievous you...|[a, mischievous, ...|  [mischievous, you...|(2000,[31,33,157,...|(2000,[31,33,157,...|         0|
|        Sudden Death|International act...|[international, a...|  [international, a...|(2000,[123,132,18...|(2000,[123,132,18...|         1|
|           GoldenEye|James Bond must u...|[james, bond, mus...|  [james, bond, mus...|(2000,[119,277,33...|(2000,[119,277,33...|         0|
|The American Pres...|Widowed U.S. pres...|[widowed, u.s., p...|  [widowed, u.s., p...|(2000,[49,101,114...|(2000,[49,101,114...|         0|
|Dracula: Dead and...|When a lawyer sho...|[when, a, lawyer,...|  [lawyer, shows, v...|(2000,[153,265,34...|(2000,[153,265,34...|         0|
|               Balto|An outcast half-w...|[an, outcast, hal...|  [outcast, half-wo...|(2000,[72,498,791...|(2000,[72,498,791...|         0|
|               Nixon|An all-star cast ...|[an, all-star, ca...|  [all-star, cast, ...|(2000,[52,63,92,9...|(2000,[52,63,92,9...|         0|
|    Cutthroat Island|Morgan Adams and ...|[morgan, adams, a...|  [morgan, adams, s...|(2000,[37,50,98,1...|(2000,[37,50,98,1...|         0|
|              Casino|The life of the g...|[the, life, of, t...|  [life, gambling, ...|(2000,[697,706,81...|(2000,[697,706,81...|         0|
|Sense and Sensibi...|Rich Mr. Dashwood...|[rich, mr., dashw...|  [rich, mr., dashw...|(2000,[103,212,72...|(2000,[103,212,72...|         0|
|          Four Rooms|It's Ted the Bell...|[it's, ted, the, ...|  [ted, bellhop's, ...|(2000,[184,252,28...|(2000,[184,252,28...|         0|
|Ace Ventura: When...|Summoned from an ...|[summoned, from, ...|  [summoned, ashram...|(2000,[126,298,32...|(2000,[126,298,32...|         0|
|         Money Train|A vengeful New Yo...|[a, vengeful, new...|  [vengeful, new, y...|(2000,[12,276,360...|(2000,[12,276,360...|         0|
+--------------------+--------------------+--------------------+----------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [ ]:
sdf1 = results.select("original_title","prediction")
sdf2 = sdf1.toPandas()
sdf2 = sdf2.groupby(['prediction'])['original_title'].apply(lambda x: ','.join(x)).reset_index()
sdf2 = sdf2.rename(columns={"prediction": "Cluster Number", "original_title": "Movie name"})
sdf2

    Cluster Number                                         Movie name
0                0  Toy Story,Jumanji,Grumpier Old Men,Waiting to ...
1                1  Sudden Death,Get Shorty,Assassins,Persuasion,D...
2                2  Москва,Il signor Robinson, mostruosa storia d'...
3                3            La machine,Sappho,Miss Lulu Bett,ఒక్కడు
4                4  A Month by the Lake,Hedd Wyn,The Lady Vanishes...
5                5  Höstsonaten,Mermaids,Milka - elokuva tabuista,...
6                6  Ricomincio da tre,Mer om Oss Barn i Bullerbyn,...
7                7                                           FC Venus
8                8  Sonic Outlaws,The Net,Three Wishes,Even Cowgir...
9                9                                            Courage
10              10                                       Lady Killers
11              11  Guardian Angel,Last Summer in the Hamptons,A M...

In [ ]:
sdf2.to_csv(r'/content/drive/My Drive/recom.csv')
sdf2 = pd.read_csv('/content/drive/My Drive/recom.csv')

In [ ]:
def search(a):
  l = [(a, )]
  gh = spark.createDataFrame(l, ['overview'])
  pred = model.transform(gh)
  output = pred.collect()[0]['prediction']
  fin = sdf2.loc[sdf2['Cluster Number'] == output]
  fin1 = fin['Movie name'].values[0]
  fin1 = fin1.split(',')
  return fin1

In [ ]:
def unique(a):
  uni = []
  for i in a:
    if i not in uni:
      uni.append(i)
  return uni

In [ ]:
a = input("Enter movie names to find similar movies: ")
search(a)
unique(search(a))[:20]

Enter movie names to find similar movies: Heat

['Toy Story',
 'Jumanji',
 'Grumpier Old Men',
 'Waiting to Exhale',
 'Father of the Bride Part II',
 'Heat',
 'Sabrina',
 'Tom and Huck',
 'GoldenEye',
 'The American President',
 'Dracula: Dead and Loving It',
 'Balto',
 'Nixon',
 'Cutthroat Island',
 'Casino',
 'Sense and Sensibility',
 'Four Rooms',
 'Ace Ventura: When Nature Calls',
 'Money Train',
 'Copycat']